@use '../../vendor/styles/mixins.scss' as mixins;

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalWindow {
  background-color: var(--bg-color-main-dark);
  border: var(--border-black);
  border-radius: var(--border-radius50);
  width: 80%;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s linear;
  bottom: 20px;
  margin: 0;
  z-index: 100;
  color: var(--text-color-white);
  padding: 30px;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.cookie_title {
  align-items: flex-start;
  color: var(--text-color-grey);
  @include mixins.font(400, var(--font-size-40), 1.04);
  margin-bottom: 10px;
}

.cookie_text {
  color: var(--text-color-grey);
  @include mixins.font(400, var(--font-size-24), 1.6);
  margin-bottom: 20px;
}

.btnAccept {
  max-width: 50%;
  padding: 16px;
  border-radius: var(--border-radius500);
  background-color: var(--bg-color-yellow);
  @include mixins.font(400, var(--font-size-24), 1.6);
  color: var(--text-color-black);
  min-width: 190px;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-color-purple);
  }

  &:focus {
    transform: scale(0.97);
  }

  &:active {
    transform: scale(0.97);
  }

  @media (max-width: 1280px) {
    max-width: 80%;
  }
}

.btnLink {
  max-width: 50%;
  padding: 16px;
  margin-bottom: 10px;
  background-color: var(--bg-color-grey);
  border-radius: var(--border-radius500);
  @include mixins.font(400, var(--font-size-24), 1.6);
  color: var(--text-color-light-grey);
  text-align: center;
  min-width: 190px;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-color-purple);
  }

  &:focus {
    transform: scale(0.97);
  }

  &:active {
    transform: scale(0.97);
  }

  @media (max-width: 1280px) {
    max-width: 80%;
  }
}
